* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1366px;        
    width: 100%;    
    background-color: black;
    color: white;
}

.container header {
    display: flex;
    justify-content: center;
    background-color: black;
}

main .bg-img {
    background-image: url('../img/bg-header.jpg');
    background-size: contain;
    background-position: center center;
    width: 100%;
    background-repeat: no-repeat;
    height: 768px;
}

/* seccion 1 */

.section1 {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

main .section1 article p {
    text-align: justify;
    margin-left: 220px;
    margin-top: 16px;
    font-size: 12px;    
    
}

main .section1 figure img {
    margin-right: 150px;
    width: 300px;
    height: 150px;
}

/* seccion 2 */

main .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #1E1A13;
    height: 120px;
}

main .section2 article h2 {
    margin-top: 5px;
}   

main .section2 .caracteristic-container{ 
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

main .section2 .caracteristic-container div i{ 
    margin: 5px;
}

main .section2 .caracteristic-container div p {
    margin: 10px;
}

/* Galeria */

main .galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

main .galery figure img{
    width: 180px;
    height: 130px;  
}

/* Footer */
footer {
    display: flex;  
    align-items: center;
    justify-content: center;
    text-align: justify;
    background-color: #1E1A13;
    height: 20px;
}